{% extends 'base.html' %}
{% block title %} Create Routine {% endblock %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create new routines</h1>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-xl-7">
            <div class="card mb-4 mt-2 py-3 border-bottom-info ">
                <div class="card-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-5 col-xl-10">
                                <form class="user myTable" action="/createroutine/" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="form-group">
                                            <select name="class" required class="form-control">
                                                <option selected disabled>Select Class </option>
                                                {% for class in classrooms%}
                                                <option value="{{class.class_name}}">{{class.class_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select name="subject" required class="form-control">
                                                <option selected disabled>Select Subject </option>
                                                {% for sub in subjects%}
                                                <option value="{{sub.subject}}">{{sub.subject}}</option>
                                                {% endfor %}
                                                <option value="launch break">launch break</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select name="teacher" required class="form-control">
                                                <option selected disabled>Select Teacher </option>
                                                {% for teacher in teachers%}
                                                <option value="{{teacher.name}}">{{teacher.name}}</option>
                                                {% endfor %}
                                                <option value="">-</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="time" required name="start" class="form-control" placeholder="Start time">
                                        </div>
                                        <div class="form-group">
                                            <input type="time" required name="end" class="form-control" placeholder="End time">
                                        </div>
                                        
                                        
                                    </div>
                                    <button  class="btn btn-primary btn-user text-lg btn-block" type="submit" id="createmaster" >
                                        Create 
                                      </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}